Repository RedHatInsights/insights-rbac, pull requests merged in 2025-02, with the labels that each got.

#1513 [RHCLOUD-37828] Support filter workspace by name
  docs/source/specs/typespec/main.tsp
  docs/source/specs/v2/openapi.yaml
  rbac/management/base_viewsets.py
  rbac/management/migrations/0064_alter_workspace_name.py
  rbac/management/workspace/model.py
  rbac/management/workspace/view.py
  tests/management/workspace/test_view.py
Labels: enhancement, v2

#1510 [RHCLOUD-37871] add the paginator in the principals view to handle limit and offset
  rbac/management/principal/view.py
  tests/management/principal/test_view.py
Labels: refactoring

#1515 [RHCLOUD-37928] Fix pagination for user-based principals when listing only usernames
  rbac/management/principal/proxy.py
  tests/management/principal/test_view.py
Labels: bug

#1506 [RHCLOUD-37825] github action to check if the PR contains some fixup commits that is needed to resolve before the merge
  .github/workflows/block-fixup-commit-merge.yml
Labels: developer

#1516 [RHCLOUD-37936] refactored `/principals/` endpoint by splitting it into separate methods
  rbac/management/group/view.py
Labels: refactoring

#1534 query param validation: use the default value if the query param is provided without a value
  rbac/management/utils.py
  tests/management/test_utils.py
Labels: refactoring

#1508 [RHCLOUD-37851] /principals/ endpoint and 'usernames' query param improvement
  rbac/management/principal/view.py
  tests/management/principal/test_view.py
Labels: bug

#1521 [RHCLOUD-35417] Audit Logs: When User/Role/Service Account is Removed From Group
  rbac/management/audit_log/model.py
  rbac/management/group/view.py
  tests/management/group/test_view.py
Labels: enhancement

#1512 [RHCLOUD-37288] add option to list both principal types in one query to the /principals/ endpoint
  docs/source/specs/openapi.json
  rbac/management/principal/view.py
  tests/management/principal/test_view.py
Labels: enhancement
