Repository RedHatInsights/insights-rbac, pull requests merged in 2025-04, with the labels that each got.

#1567 [RHCLOUD-38310] add option to list both principal types in a group in one query
  docs/source/specs/openapi.json
  rbac/management/group/view.py
  tests/management/group/test_view.py
Labels: enhancement

#1612 /principals/ endpoint tests
  rbac/management/principal/view.py
  tests/management/principal/test_view.py
Labels: refactoring

#1643 Internal schema update
  rbac/internal/specs/openapi.json
Labels: refactoring

#1646 RHCLOUD-35536 - Update DisableCSRF middleware to follow new django recommendations
  rbac/rbac/middleware.py
Labels: refactoring

#1641 RHCLOUD-35536 - Update ReadOnlyApiMiddleware to follow new Django recommendations
  rbac/rbac/middleware.py
  tests/rbac/test_middleware.py
Labels: refactoring

#1649 [RHCLOUD-27273] Update resource definitions internal endpoint
  rbac/internal/specs/openapi.json
  rbac/internal/views.py
  tests/internal/test_views.py
Labels: enhancement, refactoring

#1644 RHCLOUD-35536 - Update IdentityHeaderMiddleware to follow new Django recommendations
  rbac/rbac/middleware.py
  tests/rbac/test_middleware.py
Labels: refactoring
