Repository RedHatInsights/insights-rbac, pull requests merged in 2025-03, with the labels that each got.

#1547 [RHCLOUD-38443] add v2 open api specification in JSON format as result of generation from type specification
  docs/source/specs/typespec/compile_tsp_spec
  docs/source/specs/v2/openapi.json
Labels: enhancement

#1554 principal_type query param refactoring
  rbac/management/group/view.py
  tests/management/group/test_view.py
Labels: refactoring

#1557 move logic for SERVICE_ACCOUNT_CLIENT_IDS_KEY into separate method
  rbac/management/group/view.py
Labels: refactoring

#1559 set the default value and comments refactoring
  rbac/management/group/view.py
Labels: refactoring

#1562 use principal model types for 'type' query param values
  rbac/management/principal/view.py
Labels: refactoring

#1556 [RHCLOUD-38733] Fix resource definition openapi spec value
  docs/source/specs/openapi.json
Labels: bug

#1522 RHCLOUD-37616 - Service account principals filtering and sorting
  docs/source/specs/openapi.json
  rbac/management/principal/it_service.py
  rbac/management/principal/view.py
  tests/management/principal/test_view.py
Labels: enhancement

#1595 [RHCLOUD-39098] fix for list principals usernames_only
  rbac/management/principal/proxy.py
  tests/management/group/test_view.py
  tests/management/principal/test_proxy.py
  tests/management/principal/test_view.py
Labels: bug
